# Python
__pycache__/
*.py[c]
*$py.class
**/.python-version
**/.python-env
venv/
.env
.venv/
ENV/
build/
dist/
*.egg-info/
.pytest_cache/
.pytest_tmp/
.pytest_temp/
.tox/
*.db
*.sqlite
data/*.db
*.bak
*.backup
.env.local
.env.*.local